@{
    ViewBag.Title = "Live Stream";
}

<div class="container">
    <div class="video-container">
        <div class="video-box" id="liveStreamMain">
            <h3>Live Stream</h3>
            <video id="stream" autoplay muted></video>
            <div class="control-buttons">
                <button id="start">Start Camera</button>
                <button id="stop" disabled>Stop Camera</button>
                <button id="record" disabled>Record</button>
                <button id="play" disabled>Play</button>
            </div>
        </div>
        
    </div>

    <div class="canvas-box">
        <h3 class="mb-3">Stream Frames</h3>
        <canvas id="frameCanvas" width="640" height="360"></canvas>
        <div id="processingLoader" style="display:none;"><b>Processing Frame...</b></div>
        <div class="thumbnail-container" id="thumbnailContainer" style="max-width:640px;"></div>
    </div>
</div>

<div class="container d-flex justify-content-end">
    <div class="download-button">
        <div id="downloadLoader" class="loader" style="display:none;"></div>
        <button id="download">Download</button>
    </div>
</div>

<script src="~/js/livestream.js" type="text/javascript"></script>